
/*------------------------*/
/* ----- Responsive ----- */
/*------------------------*/

@media only screen and (max-width: 931px) {
  .menu-container {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .logo-container {
    float: none;
    text-align: center;
  }
  .logo {
    display:none;
  }
  .content{
    margin-top: -400px;
  }
  .profile-photo {
    width: 30%;
    min-width: 150px;
    margin: 0 auto;
  }
  .profile-info-container {
    text-align: center;
  }
  .profile-preword {
    float: none;
    margin-top: 20px;
  }
  .profile-list .title{
    width: 0;
  }
  .profile-list .cont{
    float:left;
    line-height: 60px;
    margin-left: 0;
    text-align: left;
    font-size: 13px;
  }
  .profile-social{
    padding: 0;
  }
  .about-txt{
    font-size: 16px;
  }
  .form-container input{
    width: 90%;
    padding: 8px 16px;
  }
  .form-container textarea{
    width: 89%;
  }
}

@media only screen and (max-width: 477px){
  span.logo-fixed-subtext{
    display:none;
  }
}

@media only screen and (max-width: 338px){
  .footer-text{
    font-size: 12px;
  }
}