/*------------------------*/
/* ----- Stylesheet ----- */
/*------------------------*/

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

body {
  background-color: #efefef;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

h1,
h1,
h3,
h4,
h5,
p,
body {
  font-family: "Open Sans";
}

.anchor {
  position: relative;
  top: -120px;
}

/*-------------------------*/
/* ----- Header & Nav -----*/
/*-------------------------*/
.header-container {
  background: url("http://res.cloudinary.com/dfl66r2tr/image/upload/v1505829420/header-img_zvkoxk.jpg")
    rgba(0, 0, 0, 0.6);
  min-height: 400px;
  background-blend-mode: overlay;
  background-position-y: center;
}

.nav-container {
  background-color: rgba(0, 0, 0, 0);
  height: 100px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.nav-fixed {
  background: #004b8e;
  position: fixed;
  width: 100%;
  z-index: 99;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 1px solid #102d46;
}
.nav-fixed .menu-container a .menu-item {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  font-variant: small-caps;
}

.nav-fixed .menu-container a .menu-item:hover {
  border-bottom: 3px solid #fff;
}

.nav-fixed .menu-container a .menu-item:active {
  border-bottom: 3px solid #fff;
}

.nav-fixed .menu-container a .menu-item:focus {
  border-bottom: 3px solid #fff;
}

.logo-container {
  float: left;
}

.logo {
  padding: 24px 60px;
  max-height: 150px;
}

.nav-fixed .logo {
  display: none;
}

.logo-fixed {
  display: none;
}

.nav-fixed .logo-fixed {
  display: block;
  font-size: 40px;
  font-weight: 900;
  padding: 16px;
  font-variant: small-caps;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

a.logo-fixed-link {
  color: #fff;
}

a.logo-fixed-link:focus {
  text-decoration: none;
  color: #fff;
  outline: none;
}

.logo-fixed-link:hover {
  text-decoration: none !important;
  color: #fff;
}

.logo-fixed-subtext {
  font-size: 18px;
  font-weight: 100;
  font-variant: small-caps;
}

.menu-container {
  float: right;
  margin-right: 20px;
  margin-top: 5px;
}

.menu-item {
  list-style: none;
  font-variant: small-caps;
  display: inline-block;
  padding: 36px 24px 8px 24px;
}

a .menu-item {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Open Sans";
  font-weight: 900;
  border-bottom: none;
  font-size: 18px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

a .menu-item:hover {
  border-bottom: 3px solid #2276bf;
  color: rgba(255, 255, 255, 0.7);
}

.content {
  z-index: 2;
  position: relative;
  margin-top: -300px;
}

.container {
  width: 100%;
  max-width: 960px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0 auto;
}

.section-about {
  padding-top: 36px;
  position: relative;
}

.section-box {
  background: #fff;
  -webkit-box-shadow: 1px 6px 3px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
          box-shadow: 1px 6px 3px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.section-about .profile {
  padding: 56px 48px 16px 48px;
}

.profile-photo {
  margin-right: 10%;
  margin-bottom: 10px;
}

.profile-photo img {
  width: 100%;
}

.profile-info {
  padding-bottom: 24px;
  margin-bottom: 25px;
  border-bottom: 1px solid #dedede;
}

.profile-items {
  margin-bottom: 18px;
}

.profile-preword {
  float: left;
  margin-bottom: 10px;
}

.profile-preword span {
  background-color: #2276bf;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  display: inline-block;
  padding: 7px 12px;
  text-transform: uppercase;
  position: relative;
}

.profile-preword span:before {
  content: "";
  width: 0;
  height: 0;
  top: 100%;
  left: 5px;
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent;
  border-left-color: #194c79;
}

.profile-title {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 5px;
  font-family: "Open Sans";
}

.profile-title span {
  font-weight: 100;
}

.profile-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile-list li {
  margin-bottom: 15px;
}

.profile-list .title {
  display: block;
  width: 120px;
  float: left;
  color: #333333;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.profile-list .cont {
  display: block;
  margin-left: 125px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #9da0a7;
}

.profile-social {
  background-color: #2276bf;
  padding: 8px 250px;
}

.profile-position {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 0;
  margin-top: 10px;
}

.social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social a {
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border-radius: 50%;
  padding: 10px 12px;
  height: 50px;
  width: 50px;
  text-align: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.social a:hover {
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.section-txt-btn {
  color: #000;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.8;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.section-txt-btn .btn {
  padding: 21px 55px;
  letter-spacing: 0.05em;
  margin: 5px;
}

.btn-lg {
  font-size: 15px;
  padding: 15px 20px;
  min-width: 130px;
}

.btn-border {
  color: #3d4451;
  border: 1px solid #cbcdcf;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.btn-border:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background: #2276bf;
  color: #fff;
  border: 1px solid #2276bf;
}

.about-txt {
  margin-top: 30px;
  margin-bottom: 60px;
}

.section-title {
  text-align: center;
  font-weight: 600;
  line-height: 1.2;
  font-size: 34px;
  margin-bottom: 20px;
}

.skills-box,
.portfolio-box {
  padding: 24px 48px 8px 48px;
  margin-bottom: 48px;
}

.skill-row {
  border-bottom: 1px solid #dedede;
}

.skill-title {
  font-size: 19px;
  padding-top: 16px;
}

.skill-row:last-child {
  border-bottom: none;
}

.skill-symbol {
  color: #2276bf;
  font-weight: 900;
}

.wordpress-symbol {
  border: 2px solid #2276bf;
  border-radius: 50%;
  padding: 4px;
  font-size: 14px;
}

.skill-description {
  padding-bottom: 16px;
  color: #9da0a7;
}

.portfolio-img {
  width: 100%;
  display: block;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 0;
  height: 100%;
  width: 93.5%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay-text {
  color: #fff;
  text-align: center;
  margin-top: 130px;
}

.portfolio-img-link:hover .img-overlay {
  opacity: 1;
}

.portfolio-title-box {
  padding-top: 70px;
  text-align: center;
}

.portfolio-description {
  color: #9da0a7;
}

.portfolio-description-border {
  margin: 15px auto;
  width: 100px;
  border-bottom: 3px solid #2276bf;
}

.portfolio-row {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #dedede;
}

.portfolio-row:last-child{
  border-bottom: none;
}

.contact-txt{
  text-align:center;
  padding-top:24px;
}

.contact-sub{
  text-align: center;
  padding-top: 16px;
}

.contact-email{
  vertical-align:super;
}

.section-box.contact-box {
  margin-bottom: 50px;
}

.footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  background: #0d2b44;
  color: #fff;
}