/*------------------------*/
/* ----- Stylesheet ----- */
/*------------------------*/

*{
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body{
  background-color: #efefef;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

h1, h1, h3, h4, h5, p, body{
  font-family: 'Open Sans';
}

/*-------------------------*/
/* ----- Header & Nav -----*/
/*-------------------------*/
.header-container{
  background: url('http://res.cloudinary.com/dfl66r2tr/image/upload/v1505829420/header-img_zvkoxk.jpg') rgba(0,0,0,0.6);;
  min-height: 400px;
  background-blend-mode: overlay;
}

.nav-container{
  background-color: rgba(0,0,0,0);
  height: 100px;
}

.logo-container{
  float: left;
}

.logo{
  padding: 20px 60px;
  max-height: 150px;
}

.menu-container{
  float: right;
  margin-right: 20px;
}

.menu-item{
  list-style: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 35px 25px 10px 25px;
}

a .menu-item {
  text-decoration: none;
  color: rgba(255,255,255,.5);
  font-family: 'Open Sans';
  font-weight: 900;
  
  border-bottom: none;
}

a .menu-item:hover{
 
  border-bottom: 3px solid #2276bf;
  color: rgba(255,255,255,.7);
}

/*------------------------*/
/* ----- Title Card ----- */
/*------------------------*/

.content{
  z-index: 2;
  position: relative;
  margin-top:-300px;
}

.container{
  width: 100%;
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.section-about {
    padding-top: 40px;
    position: relative;
}

.section-box{
  background: #fff;
  box-shadow: 1px 6px 3px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,.24);
}

.section-about .profile{
  padding: 57px 50px 15px 50px;
}

.profile-photo{
  margin-right: 10%;
  margin-bottom: 10px;
}

.profile-photo img{
  width: 100%;
}

.profile-info{
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #dedede;
}

.profile-items{
  margin-bottom: 18px;
}

.profile-preword{
  float: left;
  margin-bottom: 10px;
}

.profile-preword span{
  background-color: #2276bf;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  display: inline-block;
  padding: 7px 12px;
  text-transform: uppercase;
  position: relative;
}

.profile-preword span:before {
  content: '';
  width: 0;
  height: 0;
  top: 100%;
  left: 5px;
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent;
  border-left-color: #194c79;
}

.profile-title{
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 5px;  
  font-family: 'Open Sans';
}

.profile-title span{
  font-weight: 100;
}

.profile-list{
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.profile-list li{
  margin-bottom: 15px;
}

.profile-list .title {
    display: block;
    width: 120px;
    float: left;
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.profile-list .cont {
    display: block;
    margin-left: 125px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #9da0a7;
}

.profile-social{
  background-color: #2276bf;
  padding: 8px 250px;
}

.profile-position {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 0;
  margin-top: 10px;
}

.social{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.social a{
  color: rgba(255,255,255,.3);
  transition: .2s;
  border-radius: 50%;
  padding: 10px 12px;
  height: 50px;
  width: 50px;
  text-align: center;
  transition: .3s;
}

.social a:hover{
  color: #fff;
  transition: .3s;

}

.section-txt-btn {
  color: #000;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.8;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.section-txt-btn .btn {
  padding: 21px 55px;
  letter-spacing: 0.05em;
  margin: 5px;
}

.btn-lg {
  font-size: 15px;
  padding: 15px 20px;
  min-width: 130px;
}

.btn-border {
  color: #3d4451;
  border: 1px solid #cbcdcf;
  background: transparent;
  box-shadow: none;
  transition: .4s;
}

.btn-border:hover{
  text-decoration: none;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  transition: .4s;
  background: #2276bf;
  color: #fff;
  border: 1px solid #2276bf;
}

.about-txt{
  margin-top: 30px;
  margin-bottom: 60px;
}

.section-title{
  text-align: center;
  font-weight: 600;
  line-height: 1.2;
  font-size: 34px;
  margin-bottom: 20px;
}

.skills-box, .portfolio-box{
  padding: 50px 50px 10px 50px;
  margin-bottom:50px;
}

.skill-title{
  font-size: 19px;
}

.skill-symbol{
  color: #2276bf;
  font-weight: 900;
}

.wordpress-symbol{
  border: 2px solid #2276bf;
  border-radius: 50%;
  padding: 5px;
  font-size: 14px;
}

.skill-description{
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #dedede;
  color: #9da0a7;
}

.portfolio-img{
  width: 100%;
  display:block;
}

.img-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 0;
  height: 100%;
  width: 93.5%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.7);
}

.overlay-text{
  color: #fff;
  text-align: center;
  margin-top: 130px;
}

.portfolio-img-link:hover .img-overlay {
  opacity: 1;
}

.portfolio-title-box{
  padding-top: 70px;
  text-align: center;
}

.portfolio-description{
  color: #9da0a7;
}

.portfolio-row{
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #dedede;
}